/node_modules
/vendor
/public/build
/storage/app
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/logs
.env
.phpunit.result.cache
*.log
.DS_Store
Thumbs.db

# Graphify
.agents
/graphify-out/
.graphifyignore